body {
    /* text-align: center; */
    margin: 2rem 0 0;
    padding: 0;
}

.wrapper {
    margin: 2rem;
    border-radius: 45px;
background: #ccffdd;
box-shadow: inset 12px 12px 85px #b8e6c7,
            inset -12px -12px 85px #e0fff3;
            padding: 2rem 3rem;
}

.inputfield {
    margin-bottom: 0.5rem;
    /* display: inline; */
}
.custom_select{
    display: inline-block;
}

.title {
    color: #7eca9c;
    font-size: 2rem;
    text-align: center;
}

.btn {
    float: right;
    background-color: #fff  !important;
    border-color: #fff;
    box-shadow: none;
    border-radius: 5px;
    padding: 0.2rem 0.4rem;
}
form{
    color: #065446;
}